.src-components-Profile-ProfileInfo-ProfileInfo-module__profileInfo--24Q81 {
  /*position: relative;*/
}

.src-components-Profile-ProfileInfo-ProfileInfo-module__descriptionBlockContainer--23mmU {
  margin-top: 40px;
}


.src-components-Profile-ProfileInfo-ProfileInfo-module__descriptionBlock--3cahv {
  /*padding: 20px;*/
  /*display: flex;*/
  /*flex-direction: column;*/
}

.src-components-Profile-ProfileInfo-ProfileInfo-module__buttonLink--2yctY {
  border: none;
  cursor: pointer;
  background-color: transparent;
  font-size: 90%;
  color: #bbbbdc;
}

.src-components-Profile-ProfileInfo-ProfileInfo-module__editIcon--3YFa- {
  width: 12px;
  margin-right: 6px;
}

.src-components-Profile-ProfileInfo-ProfileInfo-module__buttonLink--2yctY:hover {
  box-shadow: 0px 3px 0px -2px rgba(187, 187, 220, 1);
}

.src-components-Profile-ProfileInfo-ProfileInfo-module__wrapper--X9oXo {
  display: flex;
}

.src-components-Profile-ProfileInfo-ProfileInfo-module__imgWrapper--1Ubgf {
  display: flex;
  flex-direction: column;
}

.src-components-Profile-ProfileInfo-ProfileInfo-module__img--2nUhM {
  width: 950px;
  height: 320px;
  position: relative;
  background-image: url("https://www.w3schools.com/howto/img_snow_wide.jpg");
}

.src-components-Profile-ProfileInfo-ProfileInfo-module__img--2nUhM:after {
  content: '';
  top: 0;
  left: 0;
  z-index: 10;
  width: 100%;
  height: 100%;
  display: block;
  position: absolute;
  background: black;
  opacity: 0.2;
}


.src-components-Profile-ProfileInfo-ProfileInfo-module__nameMe--1-q1_ {
  /*display: flex;*/
  /*flex-direction: column;*/
  /*text-align: center;*/
  /*left: 7%;*/
  /*top: 45%;*/
  /*position: absolute;*/
  /*z-index: 555;*/
}

.src-components-Profile-ProfileInfo-ProfileInfo-module__fullName--2afbU {
  font-size: 20px;
  margin-bottom: 1rem;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  color: #4f515b;
}

.src-components-Profile-ProfileInfo-ProfileInfo-module__title--rLekX {
  font-family: "Nunito Sans", Arial, sans-serif;
  font-size: 14px;
  color: #626c72;
}

.src-components-Profile-ProfileInfo-ProfileInfo-module__contactsTitle--1gm04 {
  display: block;
  margin-bottom: 10px;
}

.src-components-Profile-ProfileInfo-ProfileInfo-module__avatar--3jI1E {
  border: solid 2px #FFF;
  background: rgba(255, 255, 255, 0.8);
  margin-bottom: .75rem;
  border-radius: 1rem;
  width: 200px;
}

.src-components-Profile-ProfileInfo-ProfileInfo-module__contacts--2xjmj {
  max-width: 35px;
}

.src-components-Profile-ProfileInfo-ProfileInfo-module__contactsPosition--26IeP {
  display: flex;
  flex-direction: column;
  text-decoration: none;
  justify-content: center;
}

.src-components-Profile-ProfileInfo-ProfileInfo-module__contactsPosition--26IeP:hover {
  cursor: pointer;
}

.src-components-Profile-ProfileInfo-ProfileInfo-module__contactsPosition--26IeP:hover .src-components-Profile-ProfileInfo-ProfileInfo-module__socialName--2oi-w {
  color: #8224e3;
}

.src-components-Profile-ProfileInfo-ProfileInfo-module__contactsPosition--26IeP:hover .src-components-Profile-ProfileInfo-ProfileInfo-module__socialIcon--3KvkG {
  fill: #8224e3;
}

.src-components-Profile-ProfileInfo-ProfileInfo-module__socialIcon--3KvkG {
  width: 35px;
  height: 25px;
  fill: #838daa;
}

.src-components-Profile-ProfileInfo-ProfileInfo-module__socialName--2oi-w {
  font-size: 90%;
  font-weight: 500;
  color: #838daa;
  text-align: center;
  margin-right: 6px;
}

.src-components-Profile-ProfileInfo-ProfileInfo-module__statusContainer--2ddu_ {
  display: flex;
  flex-direction: column;
  margin-top: 10px;
}

.src-components-Profile-ProfileInfo-ProfileInfo-module__status--1WEEM {
  white-space: nowrap;
  text-overflow: ellipsis;
  width: 100%;
  max-width: 200px;
  overflow: hidden;
  font-size: 90%;
  color: #bbbbdc;
}

.src-components-Profile-ProfileInfo-ProfileInfo-module__input--1tSKN {
  font-size: 90%;
  padding: 8px;
  border-radius: 20px;
  border-width: 1px;
  border-style: solid;
  border-color: #8324e2;
  box-shadow: 0px 0px 5px 0px rgba(219, 219, 219, .75);
  text-shadow: 0px 0px 0px rgba(42, 42, 42, .75);
  outline: none;
}



.src-components-common-FormsControls-FormsControls-module__formControl--1lWW_ {

}

.src-components-common-FormsControls-FormsControls-module__formControl--1lWW_.src-components-common-FormsControls-FormsControls-module__error--1xfau input,
.src-components-common-FormsControls-FormsControls-module__formControl--1lWW_.src-components-common-FormsControls-FormsControls-module__error--1xfau textarea {
  border-color: red;
}

.src-components-common-FormsControls-FormsControls-module__formControl--1lWW_.src-components-common-FormsControls-FormsControls-module__error--1xfau span {
  display: block;
  margin-bottom: 20px;
  margin-left: 2px;
  color: red;
  font: 400 13.3333px Arial;
}

.src-components-common-FormsControls-FormsControls-module__input--24NvH {
  width: 100%;
  background-color: #f7f7f7;
  height: 2.5rem;
  border: 1px solid transparent;
  color: #626c72;
  padding-left: calc(2.125rem + 10px);
  border-radius: 50px;
  outline: none;
}

.src-components-common-FormsControls-FormsControls-module__elementRememberMe--31iNJ {
  border-radius: 4px;
  vertical-align: middle;
  margin-top: -2px;
  appearance: none;
  position: relative;
  right: 0;
  bottom: 0;
  left: 0;
  height: 18px;
  width: 18px;
  background-color: transparent;
  border: 1px solid #dedede;
  color: #5561e2;
  cursor: pointer;
  display: inline-block !important;
  margin-right: 0.375rem;
  outline: none;
  z-index: 1000;
  transition: all 0.15s ease-out 0s;
  color: #626c72;
}

.src-components-common-FormsControls-FormsControls-module__elementRememberMe--31iNJ:checked {
  background-color: #8224e3;
  border: none;
}





.src-components-Profile-Profile-module__formSummaryError--3jLSK {
  font-family: "Nunito Sans", Arial, sans-serif;
  font-size: 0.9em;
  padding: 5px;
  color: red;
  display: flex;
  justify-content: center;
  width: 114%;
}

.src-components-Profile-MyPosts-MyPosts-module__postsBlock--3pUFi {
  padding: 20px;
  margin-top: 40px;
}

.src-components-Profile-MyPosts-MyPosts-module__posts--2qIde {
  margin-top: 40px;
}

.src-components-Profile-MyPosts-MyPosts-module__mainButton--1GD0i {
  background-color: #8224e3;
  background-image: linear-gradient(90deg, #8224e3 0, #a968ec 50%, #8224e3 100%);
  box-shadow: 0 1px 2px 0 rgba(130, 36, 227, 0.5);
  color: #fff;
  background-size: 200%;
  display: inline-block;
  padding: .375rem 2rem;
  padding-top: calc(.375rem + 1px);
  padding-bottom: calc(.375rem + 1px);
  border: none;
  min-height: 2.5rem;
  border-radius: 30px;
  text-align: center;

}

.src-components-Profile-MyPosts-MyPosts-module__mainButton--1GD0i:hover {
  background-position: right center;
  transition: all 750ms ease;
  cursor: pointer;
}

.src-components-Profile-MyPosts-MyPosts-module__mainButton--1GD0i:active {
  outline: none;
}

.src-components-Profile-MyPosts-MyPosts-module__mainButton--1GD0i:focus {
  outline: none;
}

.src-components-Profile-MyPosts-MyPosts-module__firstWrap--3em7w {
  padding: 0;
  margin: 0 0 20px 0;
  border-bottom: 1px solid #e7edf2;
  overflow: hidden;
  white-space: nowrap;
}

.src-components-Profile-MyPosts-MyPosts-module__secondWrap--2or-z {
  border-bottom: 2px solid #8224e3;
  width: 90px;
  padding: 0 .75rem .5rem;
  display: block;
}

.src-components-Profile-MyPosts-MyPosts-module__h3--2Kg_B {
  color: #8224e3;
}

.src-components-Profile-MyPosts-MyPosts-module__textareaStyle--xwJQY {
  width: 93%;
  resize: vertical;
  cursor: text;
  white-space: pre-wrap;
  overflow-wrap: break-word;
  font: 400 13.3333px Arial;
  color: #626c72;
  background: #fff;
  display: block;
  position: relative;
  margin-bottom: 1.5rem;
  padding: 2.5rem 2rem;
  border-color: #e7edf2;
  border-radius: 12px;
  box-shadow: 0 20px 90px rgba(58,46,68,0.05);
  outline: none;
}




.src-components-Profile-MyPosts-Post-Post-module__post--3cGnU {
  margin-bottom: 20px;
  border-bottom: 1px solid #e7edf2;
}


.src-components-Profile-MyPosts-Post-Post-module__post--3cGnU img {
  width: 40px;
  border-radius: 50%;
}

.src-components-Profile-MyPosts-Post-Post-module__postStyle--3DGsB {
  font-size: 14px;
  font-weight: 400;
  line-height: 26px;
  color: #626c72;
}

.src-components-Profile-MyPosts-Post-Post-module__likeStyle--1wV2n {
  display: block;
  margin-bottom: 20px;
  color: #626c72;
  font-size: 12px;
  font-weight: 400;
  line-height: 26px;
}

