.appWrapper {
  margin: 0 auto;
  display: grid;
  width: 1200px;
  grid-template-areas: "h h" "n c"; /*кавычки - одна строка h - header займет две колонки*/
  grid-template-rows: 80px 1fr;
  /*80px - height 1fr - one fraction*/
  grid-template-columns: 2fr 10fr;
  /*одна колонка занимает 2 фракции, вторая десять*/
  font-family: "Nunito Sans", Arial, sans-serif;
  background: #a968ec;
}

.app-wrapper-content {
  grid-area: c;
  background-color: white;
  border: 1px solid #e7edf2;
  padding: 20px;
}

.none {
  display: none;
}








.src-components-Friends-Friends-module__friends--2EqSD {
  display: grid;
  grid-template-columns: 3fr 9fr;
}


.src-components-Friends-Friends-module__friendSmall--30W3A {
  margin-top: 10px;
  margin-bottom: 10px;
  margin-right: 30px;
  width: 30px;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.src-components-Friends-Friends-module__friendSmall--30W3A:hover .src-components-Friends-Friends-module__friendNameSmall--f6Dbl {
  color: #8224e3;
}

/*.friendSmall:nth-child(1),*/
/*.friendSmall:nth-child(2),*/
/*.friendSmall:nth-child(3) {*/
/*  margin-right: 30px;*/
/*}*/

.src-components-Friends-Friends-module__friendAvatarSmall--3Eqv3 {
  width: 40px;
  height: 40px;
  border-radius: 50%;


}

.src-components-Friends-Friends-module__friendNameSmall--f6Dbl {
  font-size: 12px;
  font-weight: 400;
  color: #838daa;
  /*color: #29292d;*/
  /*text-overflow: clip;*/
  /*overflow: hidden;*/
  transition: .5s;
}

.src-components-Friends-Friends-module__color--3gLMJ {
  color: red;
}



.src-components-Navbar-Navbar-module__nav--3Nho5 {
  grid-area: n;
  background-color: #F6F7F9;
  padding: 20px;
}

.src-components-Navbar-Navbar-module__navPosition--1oGLG {
  display: flex;
  flex-direction: column;
}

.src-components-Navbar-Navbar-module__menuLink--3bYdp {
  color: #838daa;
}

.src-components-Navbar-Navbar-module__menuLink--3bYdp:nth-child(6) {
  margin-top: 40px;
}


.src-components-Navbar-Navbar-module__textType--1aRxx {
  font-family: "Nunito Sans", Arial, sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 26px;
  text-decoration: none;
}

.src-components-Navbar-Navbar-module__textType--1aRxx:hover {
  color: #8224e3;
}



.src-components-Navbar-Navbar-module__active--QYTWY {
  color: #8224e3;
}


.src-components-Navbar-Navbar-module__friendsPosition--1dhWj {
  border-top: 1px solid #e7edf2;
  margin-top: 10px;
  padding-top: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}






.src-components-AllUsers-AllUsers-module__firstWrap--3SOjz {
  padding: 0;
  margin: 0 0 20px 0;
  border-bottom: 1px solid #e7edf2;
  overflow: hidden;
  white-space: nowrap;
}

.src-components-AllUsers-AllUsers-module__secondWrap--28ZZW {
  border-bottom: 2px solid #8224e3;
  width: 90px;
  padding: 0 .75rem .5rem;
  display: block;
}

.src-components-AllUsers-AllUsers-module__h3--xh9O1 {
  color: #8224e3;
}

.src-components-AllUsers-AllUsers-module__main--ddvfX {
  display: grid;
  grid-template-areas: "p p";
  grid-template-rows: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  grid-column-gap: 20px;
  grid-row-gap: 20px;
}

.src-components-AllUsers-AllUsers-module__user--3DdZW {
  grid-area: p;
  background-color: #fff;
  padding: 2rem;
  border-radius: 12px;
  box-shadow: 15px 15px 20px rgba(58, 46, 68, 0.04);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.src-components-AllUsers-AllUsers-module__avatar--3JMm- {
  margin-bottom: .75rem;
}

.src-components-AllUsers-AllUsers-module__avaImg--2aKdb {
  display: block;
  width: 90px;
  height: 90px;
  border-radius: 50%;
  background-color: #838daa;
}

.src-components-AllUsers-AllUsers-module__item--2eGX1 {

}

.src-components-AllUsers-AllUsers-module__h4--3nuSZ {
  font-size: 1.359em;
  font-weight: 700;
  text-align: center;
}

.src-components-AllUsers-AllUsers-module__activity--KuUDw {
  white-space: nowrap;
  text-overflow: ellipsis;
  width: 100%;
  max-width: 200px;
  overflow: hidden;
  text-align: center;
}

.src-components-AllUsers-AllUsers-module__count--1tdgd {
  font-size: 1rem;
  font-weight: 600;
  color: #626c72;
}

.src-components-AllUsers-AllUsers-module__mute--2m_Z8 {
  font-size: 90%;
  color: #bbbbdc;
}

.src-components-AllUsers-AllUsers-module__connections--3iGfX {
  margin-bottom: 0;
  padding: 0;
  text-align: center;
}

ul.src-components-AllUsers-AllUsers-module__connections--3iGfX li {
  list-style: none;
  display: inline-block;
  padding: 0 .5rem;
  line-height: 1.75;
  border: none !important;
}

ul.src-components-AllUsers-AllUsers-module__connections--3iGfX li p {
  margin: 0;
  line-height: 1;
}

.src-components-AllUsers-AllUsers-module__secondButton--WQk-a {
  max-width: 210px;
  margin-left: auto;
  margin-top: .75rem;
  margin-right: auto;
  white-space: nowrap;
  text-overflow: ellipsis;
  width: 100%;
  display: block;
  overflow: hidden;
  background-color: transparent;
  color: #8224e3;
  fill: #8224e3;
  border: 1px solid #8224e3;
  border-radius: 30px;
  padding: .375rem 2rem;
  min-height: 2.5rem;
  cursor: pointer;
  text-align: center;
  box-shadow: 0 2px 5px 0 rgba(58,46,68,0.08);
  font-size: 14px;
  font-weight: 400;
}

.src-components-AllUsers-AllUsers-module__secondButton--WQk-a:hover {
  background-color: #8224e3;
  color: #fff;
}

.src-components-AllUsers-AllUsers-module__secondButton--WQk-a:disabled {
  border: #626c72;
  background-color: #fff;
  color: #626c72;
  cursor: default;
}

.src-components-AllUsers-AllUsers-module__secondButton--WQk-a:active,
.src-components-AllUsers-AllUsers-module__secondButton--WQk-a:focus {
  outline: none;
}



.src-components-common-Paginator-Paginator-module__page--2b4iQ {
  line-height: 20px;
  margin-bottom: 10px;
}

.src-components-common-Paginator-Paginator-module__page--2b4iQ:hover {
  cursor: pointer;
}

.src-components-common-Paginator-Paginator-module__pagesContainer--3CPmM {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: baseline;
  margin: 20px 0;
}

.src-components-common-Paginator-Paginator-module__selectedPage--31kcy {
  background: rgba(130, 36, 227, 0.1);
  color: #8224e3;
  border-radius: 50px;
  display: inline;
  font-size: 85%;
  margin-left: 2px;
  padding: 0 6px;
  text-align: center;
}

.src-components-common-Paginator-Paginator-module__unselectedPage--10wsU {
  background: transparent;
  border: 1px solid #e7edf2;
  border-radius: 50px;
  display: inline;
  font-size: 85%;
  margin-left: 2px;
  padding: 0px 6px;
  text-align: center;
}

.src-components-common-Paginator-Paginator-module__paginatorButton--3veKD {
  background-size: 200% auto;
  float: right;
  font-size: inherit;
  font-weight: 400;
  padding: 0;
  text-align: center;
  line-height: 16px;
  text-transform: none;
  width: 2.5rem;
  transition: all .5s;
  transform: translate(0);
  background-color: #8224e3;
  background-image: linear-gradient(90deg, #8224e3 0, #a968ec 50%, #8224e3 100%);
  box-shadow: 0 1px 2px 0 rgba(130, 36, 227, 0.5);
  color: #fff;
  border: none;
  min-height: 2.5rem;
  border-radius: 30px;
  cursor: pointer;
  margin: 0 1rem;
  outline: none;
}

.src-components-common-Paginator-Paginator-module__paginatorButton--3veKD:hover {
  background-position: right center;
}

.src-components-Header-Header-module__header--AWpe5 {
  grid-area: h;
  /*grid-area это псевдонимы для grid template areas */
  background-color: #383a45;
  padding: 20px 20px 20px 20px;
  display: flex;
  justify-content: space-between;
}

.src-components-Header-Header-module__header--AWpe5 img {
  width: 40px;
}

.src-components-Header-Header-module__loginBlock--WS4YF {
  /*width: 200px;*/
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  cursor: default;
}

.src-components-Header-Header-module__loginLink--3Pk1W {
  color: white;
  text-decoration: none;
}

.src-components-Header-Header-module__loginSpan--2GC61 {
  display: flex;
  align-items: center;
}

.src-components-Header-Header-module__log--3Rx4l {
  background-color: #8224e3;
  background-image: linear-gradient(90deg, #8224e3 0, #a968ec 50%, #8224e3 100%);
  background-size: 200%;
  color: white;
  border-radius: 20px;
  width: 100%;
  cursor: pointer;
  padding: 10px 20px;
  margin: 0 10px 0 20px;
  border-color: transparent;
  text-decoration: none;
}

.src-components-Header-Header-module__log--3Rx4l:hover {
  background-position: right center;
  transition: all 750ms ease;
  cursor: pointer;
}

.src-components-Header-Header-module__log--3Rx4l:focus {
  outline: none;
}


.src-components-Header-Header-module__flexbox--BE_-z {
  display: flex;
}

