.postsBlock {
  padding: 20px;
}

.posts {
  margin-top: 40px;
}

.mainButton {
  background-color: #8224e3;
  background-image: linear-gradient(90deg, #8224e3 0, #a968ec 50%, #8224e3 100%);
  box-shadow: 0 1px 2px 0 rgba(130, 36, 227, 0.5);
  color: #fff;
  background-size: 200%;
  display: inline-block;
  padding: .375rem 2rem;
  padding-top: calc(.375rem + 1px);
  padding-bottom: calc(.375rem + 1px);
  border: none;
  min-height: 2.5rem;
  border-radius: 30px;
  text-align: center;

}

.mainButton:hover {
  background-position: right center;
  transition: all 750ms ease;
  cursor: pointer;
}

.mainButton:active {
  outline: none;
}

.mainButton:focus {
  outline: none;
}

.firstWrap {
  padding: 0;
  margin: 0 0 20px 0;
  border-bottom: 1px solid #e7edf2;
  overflow: hidden;
  white-space: nowrap;

}

.secondWrap {
  border-bottom: 2px solid #8224e3;
  width: 90px;
  padding: 0 .75rem .5rem;
  display: block;
}

.h3 {
  color: #8224e3;
}

.textareaStyle {
  width: 93%;
  resize: vertical;
  cursor: text;
  white-space: pre-wrap;
  overflow-wrap: break-word;
  font: 400 13.3333px Arial;
  color: #626c72;
  background: #fff;
  display: block;
  position: relative;
  margin-bottom: 1.5rem;
  padding: 2.5rem 2rem;
  border-color: #e7edf2;
  border-radius: 12px;
  box-shadow: 0 20px 90px rgba(58,46,68,0.05);
}



