.formControl {

}

.formControl.error input,
.formControl.error textarea {
  border-color: red;
}

.formControl.error span {
  display: block;
  margin-bottom: 20px;
  margin-left: 2px;
  color: red;
  font: 400 13.3333px Arial;
}
