.nav {
  grid-area: n;
  background-color: #F6F7F9;
  padding: 20px;
}

.menuLink {
  color: #838daa;
}

.textType {
  font-family: "Nunito Sans", Arial, sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 26px;
  text-decoration: none;
}

.textType:hover {
  color: #8224e3;
}



.active {
  color: #8224e3;
}

.none {
  display: none;
}





