.nav {
  grid-area: n;
  background-color: #F6F7F9;
}

.menuLink {
  color: #838daa;
}

.textType {
  font-family: "Nunito Sans", Arial, sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 26px;
}
