.friends {
  display: grid;
  grid-template-columns: 3fr 9fr;
}


.friendSmall {
  margin-top: 10px;
  margin-bottom: 10px;
  margin-right: 30px;
  width: 30px;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.friendSmall:hover .friendNameSmall {
  color: #8224e3;
}

/*.friendSmall:nth-child(1),*/
/*.friendSmall:nth-child(2),*/
/*.friendSmall:nth-child(3) {*/
/*  margin-right: 30px;*/
/*}*/

.friendAvatarSmall {
  width: 40px;
  height: 40px;
  border-radius: 50%;


}

.friendNameSmall {
  font-size: 12px;
  font-weight: 400;
  color: #838daa;
  /*color: #29292d;*/
  /*text-overflow: clip;*/
  /*overflow: hidden;*/
  transition: .5s;
}


