.profileInfo {
  /*position: relative;*/
}

.descriptionBlockContainer {
  margin-top: 40px;
}


.descriptionBlock {
  /*padding: 20px;*/
  /*display: flex;*/
  /*flex-direction: column;*/
}

.buttonLink {
  border: none;
  cursor: pointer;
  background-color: transparent;
  font-size: 90%;
  color: #bbbbdc;
}

.editIcon {
  width: 12px;
  margin-right: 6px;
}

.buttonLink:hover {
  box-shadow: 0px 3px 0px -2px rgba(187, 187, 220, 1);
}

.wrapper {
  display: flex;
}

.imgWrapper {
  display: flex;
  flex-direction: column;
}

.img {
  width: 950px;
  height: 320px;
  position: relative;
  background-image: url("https://www.w3schools.com/howto/img_snow_wide.jpg");
}

.img:after {
  content: '';
  top: 0;
  left: 0;
  z-index: 10;
  width: 100%;
  height: 100%;
  display: block;
  position: absolute;
  background: black;
  opacity: 0.2;
}


.nameMe {
  /*display: flex;*/
  /*flex-direction: column;*/
  /*text-align: center;*/
  /*left: 7%;*/
  /*top: 45%;*/
  /*position: absolute;*/
  /*z-index: 555;*/
}

.fullName {
  font-size: 20px;
  margin-bottom: 1rem;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  color: #4f515b;
}

.title {
  font-family: "Nunito Sans", Arial, sans-serif;
  font-size: 14px;
  color: #626c72;
}

.contactsTitle {
  display: block;
  margin-bottom: 10px;
}

.avatar {
  border: solid 2px #FFF;
  background: rgba(255, 255, 255, 0.8);
  margin-bottom: .75rem;
  border-radius: 1rem;
  width: 200px;
}

.contacts {
  max-width: 35px;
}

.contactsPosition {
  display: flex;
  flex-direction: column;
  text-decoration: none;
  justify-content: center;
}

.contactsPosition:hover {
  cursor: pointer;
}

.contactsPosition:hover .socialName {
  color: #8224e3;
}

.contactsPosition:hover .socialIcon {
  fill: #8224e3;
}

.socialIcon {
  width: 35px;
  height: 25px;
  fill: #838daa;
}

.socialName {
  font-size: 90%;
  font-weight: 500;
  color: #838daa;
  text-align: center;
  margin-right: 6px;
}

.statusContainer {
  display: flex;
  flex-direction: column;
  margin-top: 10px;
}

.status {
  white-space: nowrap;
  text-overflow: ellipsis;
  width: 100%;
  max-width: 200px;
  overflow: hidden;
  font-size: 90%;
  color: #bbbbdc;
}

.input {
  font-size: 90%;
  padding: 8px;
  border-radius: 20px;
  border-width: 1px;
  border-style: solid;
  border-color: #8324e2;
  box-shadow: 0px 0px 5px 0px rgba(219, 219, 219, .75);
  text-shadow: 0px 0px 0px rgba(42, 42, 42, .75);
  outline: none;
}


