.overlay {
  background-color: #383C46;
  height: 100vh;
  display: flex;
  justify-content: center;
}

.loginBlock {
  width: 430px;
  height: 440px;
  display: flex;
  -ms-flex-direction: column;
  flex-direction: column;
  justify-content: center;
  pointer-events: auto;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid rgba(0, 0, 0, .2);
  border-radius: .3rem;
  outline: 0;
  align-self: center;
  align-items: center;
}

.avatarGuest {
  width: 80px;
  height: 80px;
}

.title {
  color: #4f515b;
  font-size: 1.359em;
  font-weight: 700;
  font-family: "Quicksand", Verdana, sans-serif;
}

.form {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 60%;
}

.userName,
.password {
  margin-bottom: .5rem;
}

.input {
  width: 100%;
  background-color: #f7f7f7;
  height: 2.5rem;
  border: 1px solid transparent;
  color: #626c72;
  padding-left: calc(2.125rem + 10px);
  border-radius: 50px;
  outline: none;
}

.icon {
  background: #fff;
  display: block;
  width: calc(2.5rem - 4px);
  height: calc(2.5rem - 4px);
  border-radius: 50%;
  text-align: center;
  position: absolute;
  left: 4px;
  top: 4px;
  z-index: 1;
}

.userIcon,
.passwordIcon {
  width: 14px;
  margin-top: 29%;
}

.iconPassword {
  background: #fff;
  display: block;
  width: calc(2.5rem - 4px);
  height: calc(2.5rem - 4px);
  border-radius: 50%;
  text-align: center;
  position: absolute;
  top: 56px;
  left: 4px;
  z-index: 1;
}

.submit {
  width: 120%;
  background-image: linear-gradient(90deg, #8224e3 0, #a968ec 50%, #8224e3 100%);
  background-size: 200%;
  box-shadow: 0 1px 2px 0 rgba(130, 36, 227, 0.5);
  color: #fff;
  border: none;
  min-height: 2.5rem;
  border-radius: 30px;
  text-align: center;
  font-weight: normal;
  outline: none;
  text-decoration: none;
  cursor: pointer;
  outline: none;
  margin-top: 0.67em;
}

.submit:hover {
  box-shadow: 0 1px 3px 0 rgba(130, 36, 227, 0.5);
  color: #fff;
  background-position: right center;
  transition: all 750ms ease;
}

